<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>

    <!-- Start Page Breadcrumb -->
    <section class="w3s-breadcrumb bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="font-28 font-roboto fw-bold mb-0">Articles</h3>
          </div>
          <div class="col-md-6">
            <nav class="float-md-end mt-lg-0 mt-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none link-hover dark-text font-14 font-poppins" href="#">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Articles</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- End Page Breadcrumb -->

    <!-- Start Shop -->
    <section class="w3s-faq-section mt-5 py-4">
      <div class="container">

        <div class="row">
          <!-- Products -->
          <% articles.forEach(article => { %>
            <div class="col-lg-3 col-sm-4 p-3 w3s-product-item">
              <div class="w3s-product-card card">
                <div class="w3s-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                  <img src="<%= article.image %>" class="img-fluid" alt="product" />
                  <div class="w3s-product-action-btn position-absolute top-50 start-50 translate-middle">
                    <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bx-cart"></i></a>
                  </div>
                </div>
                <div class="w3s-product-info bg-white p-3">
                  <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize"><%= article.name %></h6>
                  <div class="w3s-product-price">
                      <span class="primary-text font-16 fw-bold"><%= article.prix %> FCFA</span>
                  </div>
                </div>
              </div>
            </div>
          <% }); %> 
          <!-- !Products -->
        </div>

      </div>
    </section>
    <!-- End Shop -->

    

    <!-- Start News letter -->
    <section class="w3s-newsletter-section bg-primary py-5 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="font-30 white-text font-roboto text-start py-3 m-0">Subscribe Our Newsletter </h2>
          </div>
          <div class="col-md-6">
            <form action="#">
              <div class="row">
                <div class="overflow-hidden d-flex">
                  <input type="text" class="newsletter-input font-16 mt-2 focus-none form-control form-control-lg rounded-0" placeholder="Enter Email Address">
                  <button class="newsletter-btn btn btn-primary bg-dark mt-2 rounded-0">Subscribe</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End News letter -->
  
    <%- include('../partials/footer') %>

    <%- include('../partials/scripts') %>
</body>

</html>
