<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>

    <!-- Start Slider -->
    <section class="hj-slider-section">
        <div class="hj-slider-item" 
        style="background-image: url(assets/img/banner1.jpg)">
          <div class="carousel-caption text-start">
            <h2 class="font-20 dark-text font-poppins fw-light mb-0">50% de reduction sur tous nos produits</h2>
            <h1 class="font-60 dark-text font-roboto my-2 fw-bold">
              BIENVENUE DANS NOTRE BOUTIQUE DE MODE EN LIGNE
            </h1>
            <a href="#" class="hj-primary-btn d-inline-block mt-1">shop now</a>
          </div>
        </div>
  </section>
  <!-- End Slider -->

  <!-- Shop Banner Section -->
  <section id="hj_shop_banner_section" class="mt-5 pt-md-5 hj-shop-banner-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-md-6">
              <div class="hj-shop-banner-inner py-3 position-relative overflow-hidden">
                <img src="assets/img/shop_banner_img1.jpg" class="img-fluid float-end w-100" alt="Banner" />
                <div class="clearfix"></div>
                <div class="hj-banner-info position-absolute">
                  <h2 class="font-roboto font-32 my-2 fw-bold text-dark">Nouvelle collection</h2>
                  <a href="#" class="link-hover text-decoration-none text-dark">Achetez maintenant</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="hj-shop-banner-inner py-3 position-relative overflow-hidden">
                <img src="assets/img/shop_banner_img2.jpg" class="img-fluid float-start w-100" alt="Banner" />
                <div class="clearfix"></div>
                <div class="hj-banner-info position-absolute">
                  <h2 class="font-roboto font-32 fw-bold text-dark">Nos Hijab</h2>
                  <a href="#" class="link-hover text-decoration-none text-dark">Achetez maintenant</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Banner Section -->

  <!-- Start Exclusive Products -->
  <section class="my-5 pb-5 hj-exclusive-product-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="font-32 mb-5 dark-text text-center font-roboto fw-bold">TOP ARTICLES</h2>
        </div>
      </div>
      <div class="row">
        <!-- Products -->
        <% articles.forEach(article => { %>
          <div class="col-lg-3 col-sm-4 p-3 hj-product-item">
            <div class="hj-product-card card">
              <div class="hj-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                <img src="<%= article.image %>" class="img-fluid" alt="product" />
                <div class="hj-product-action-btn position-absolute top-50 start-50 translate-middle">
                  <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bx-cart"></i></a>
                </div>
              </div>
              <div class="hj-product-info bg-white p-3">
                <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize"><%= article.name %></h6>
                <div class="hj-product-price">
                    <span class="primary-text font-16 fw-bold"><%= article.prix %> FCFA</span>
                </div>
              </div>
            </div>
          </div>
        <% }); %> 
        <!-- !Products -->
      </div>
    </div>
    <!-- !Products carousel -->
  </section>
  <!-- End Exclusive Products -->

  <section class="hj-slider-section ">
    <div class="hj-slider-item d-flex justify-content-center align-items-center" 
    style="background-image: url(assets/img/box.jpg)">
      <h2 class="fs-1 font-roboto py-2 fw-bold blue-text text-center" >
        BOX HIJABS <br> LE PLAISIR D'OFFRIR 
      </h2>
    </div>
  </section>


  <!-- End Tranding offer banner -->
  
  <!-- Start Testimonial -->
  <section class="hj-testimonial-section bg-redon py-5">
    <div class="container">
      <div class="row  mb-4">
        <div class="col-12">
          <h1 class="font-32 dark-text pt-5 pb-4 font-roboto text-center">Derniers avis</h1>
        </div>
      </div>
      <!-- testimonial slider -->
      <div class="row">
          <div class="col-lg-6 col-sm-4 text-center">
            <p class="font-poppins font-16 secondary-text w-75 mx-auto">
              Très beau manteau kimono bonne matière, facile à porter
              et surtout de bonne qualité
              Chic et classe
              À très vite pour de nouvelles commandes ????
            </p>
            <div class="d-flex justify-content-center my-4">
              <div class="hj-author-img">
                <img src="assets/img/user_img1.jpg" class="img-fluid" alt="testimonial author image">
              </div>
              <div class="hj-author-info text-start ms-2">
                <h4 class="font-20 dark-text font-roboto">Amina</h4>
                <span class="font-poppins font-14 primary-text">Customer</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-4 text-center">
            <p class="font-poppins font-16 secondary-text w-75 mx-auto">Cela fait plusieurs fois que je commande sur le site et j'ai toujours été très satisfaite livraison ultra rapide 
              emballage soigné et bonne qualité.
              
            </p>
            <div class="d-flex justify-content-center my-4">
              <div class="hj-author-img">
                <img src="assets/img/user_img2.jpg" class="img-fluid" alt="testimonial author image">
              </div>
              <div class="hj-author-info text-start ms-2">
                <h4 class="font-20 dark-text font-roboto">Fatima</h4>
                <span class="font-poppins font-14 primary-text">Customer</span>
              </div>
            </div>
          </div>
      </div>
      <!-- !testimonial slider -->
    </div>
  </section>
  <!-- End Testimonial -->

  <!-- Start Services -->
  <div class="hj-services-section py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 border-end">
          <div class="hj-service-info text-center">
            <span class="font-40 secondary-text"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
              <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg></span>
            <h3 class="font-20 font-roboto dark-text text-capitalize mt-2">Livraison Gratuite</h3>
            <p class="font-16 font-poppins secondary-text w-75 mx-auto mt-2">C'est une forte motivation pour vous d'avoir plus de confiance en nos produits</p>
          </div>
        </div>
        <div class="col-md-4 border-end">
          <div class="hj-service-info text-center">
            <span class="font-40 secondary-text"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-down-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 13.5a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1H3.707L13.854 2.854a.5.5 0 0 0-.708-.708L3 12.293V7.5a.5.5 0 0 0-1 0v6z"/>
            </svg></span>
            <h3 class="font-20 font-roboto dark-text text-capitalize mt-2">30 Jours de Retour</h3>
            <p class="font-16 font-poppins secondary-text w-75 mx-auto mt-2">C'est une forte motivation pour vous d'avoir plus de confiance en nos produits</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="hj-service-info text-center">
            <span class="font-40 secondary-text"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16">
              <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z"/>
            </svg></span>
            <h3 class="font-20 font-roboto dark-text text-capitalize mt-2">27/4 Soutien</h3>
            <p class="font-16 font-poppins secondary-text w-75 mx-auto mt-2">C'est une forte motivation pour vous d'avoir plus de confiance en nos produits</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- End Services -->

    <%- include('../partials/footer') %>

    <%- include('../partials/scripts') %>
</body>

</html>